@charset"utf-8";

@media(max-width: 1030px){

    .header{
        .header_bg{
            .bg_img{
                height: 50vh;
            }
            .bg_color{
                width: 50%;
                height: 60vh;
            }
        }

        .wrapper{
            .header_nav{
                .header_logo{
                    img{
                        width: 7vmin;
                        height: 7vmin;
                    }
                    h1{
                        font-size: 1.5rem;
                        &::after{
                            font-size: 1rem;
                        }
                    }
                }
                .header_right{
                    right: 6vmin;
                }

                // javascript ヘッダーのメニューが黒くなります。
                .header_right_color_1030px{
                    .border{
                        div{
                            background-color: #222222;
                        }
                    }
                    p{
                        color: #222222;
                    }
                }

                .menu_contents{
                    .menu_content{
                        right: 12vmin;
                    }
                }
            }
            .main_title{
                position: absolute;
                top: 15vmin;
                right: 17vmin;
            }
        }
    }

    .vision{
        height: 160vh;
        .ceo_message_contents{
            position: relative;
            .ceo_img{
                width: 45%;
                position: absolute;
                left: 5vmin;
            }
            .ceo_message_text_content{
                position: absolute;
                left: 30vmin;
                top: 18vmin;
                width: 65vmin;
                height: fit-content;
                .text_contents_wrapper{
                    padding: 3vmin 3vmin;
                }
            }
        }
    }

    .company{
        .wrapper{
            margin: 0 5%;
        
            .section_contents{
                margin: 0 5%;
            }
        }
    }
    
    .footer{
        text-align: center;
        padding: 0.5%;
        background-color: #525252;
        p{
            color: #fff;
            letter-spacing: 0.015rem;
        }
    }
}


@media(max-width: 780px){

    .header{
        .wrapper{
            .header_nav{
                .header_right_color_780px{
                    .border{
                        div{
                            background-color: #222222;
                        }
                    }
                    p{
                        color: #222222;
                    }
                }
            }
            .main_title{
                position: absolute;
                top: 15vmin;
                right: 17vmin;
                .title{
                    font-size: 2.7rem;
                    font-weight: bold;
                    letter-spacing: 0.063;
                }
                .sub_title{
                    font-size: 1.3rem;
                }
            }
        }
    }

    .vision{
        height: 200vh;
    }
}


@media(max-width: 480px){

    .header{
        .header_bg{
            .bg_img{
                height: 70vh;
            }
            .bg_color{
                height: 80vh;
            }
        }
        .wrapper{
            .header_nav{
                .header_right{
                    right: 10px;
                    p{
                        font-size: 0.9rem;
                    }
                    .border{
                        div{
                            width: 6vmin;
                            &:nth-of-type(1){
                                transform: translate(-50%,-5px);
                            }
                            &:nth-of-type(3){
                                transform: translate(-50%,5px);
                            }
                        }
                    }
                }

                // ヘッダーのメニューが黒くなります。
                .header_right_color_480px{
                    .border{
                        div{
                            background-color: #222222;
                        }
                    }
                    p{
                        color: #222222;
                    }
                }

                .border_open{
                    .border{
                        
                        div{
                            &:nth-of-type(1){
                                transform: rotate(-45deg) translate(-50%,3px);
                                transform-origin: 0 50%;
                                transition: .3s;
                            }
                            &:nth-of-type(2){
                                opacity: 0;
                                transition: .3s;
                            }
                            &:nth-of-type(3){
                                transform: rotate(45deg) translate(-50%,-3px);
                                transform-origin: 0 50%;
                                transition: .3s;
                            }
                        }
                    }
                }
                
                .menu_contents{
                    .bg2{
                        width: 60%;
                    }
                    .menu_content{
                        li{
                            a{
                                img{
                                    width: 10vmin;
                                    height: 10vmin;
                                }
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .main_title{
                position: absolute;
                top: 30vmin;
                right: 8vmin;
                .title{
                    font-size: 2.7rem;
                    font-weight: bold;
                    letter-spacing: 0.063;
                }
                .sub_title{
                    font-size: 1.3rem;
                }
            }
        }
    }

    .vision{
        height: 1990px;
        .wrapper{
            margin: 0 4vmin;
            .section_title{
                font-size: 2rem;
            }
            .section_sub_title{
                font-size: 1rem;
            }
            .section_contents{
                .text_content{
                    span{
                        margin: 10vmin 0;
                    }
                }
            }
        }
        .ceo_message_contents{
            position: relative;
            .ceo_img{
                width: 90%;
                position: absolute;
                left: 0;
            }
            .ceo_message_text_content{
                position: absolute;
                left: 4vmin;
                top: 50vmin;
                width: 92vmin;
                height: fit-content;
                .text_contents_wrapper{
                    padding: 15vmin 4vmin;
                    margin: 0;
                    .content_title{
                        font-size: 1.72rem;
                        letter-spacing: 0;
                    }
                    .text_content{
                        span{
                            margin: 10vmin 0;
                        }
                    }
                }
            }
        }
    }

    .company{
        .wrapper{
            .section_title{
                font-size: 1.9rem;
                line-height: 2;
                letter-spacing: 0.068rem;
                font-weight: bold;
                margin: 0 auto;
                padding: 0;
                border-bottom: 2px solid #efefef;
            }
        
            .section_contents{
                .text_decoration{
                    font-size: 1rem;
                    line-height: 1;
                    letter-spacing: 0.004rem;
                    margin-top: 4vmin;
                    border-bottom: 2px solid #efefef;
                    span{
                        display: inline-block;
                        width: 35vmin;
                    }
                }
            }
            .google_map{
                margin: 8vmin 0;
            }
        }
    }
}