@media (max-width: 1030px) {
  .header .header_bg .bg_img {
    height: 50vh;
  }
  .header .header_bg .bg_color {
    width: 50%;
    height: 60vh;
  }
  .header .wrapper .header_nav .header_logo img {
    width: 7vmin;
    height: 7vmin;
  }
  .header .wrapper .header_nav .header_logo h1 {
    font-size: 1.5rem;
  }
  .header .wrapper .header_nav .header_logo h1::after {
    font-size: 1rem;
  }
  .header .wrapper .header_nav .header_right {
    right: 6vmin;
  }
  .header .wrapper .header_nav .header_right_color_1030px .border div {
    background-color: #222222;
  }
  .header .wrapper .header_nav .header_right_color_1030px p {
    color: #222222;
  }
  .header .wrapper .header_nav .menu_contents .menu_content {
    right: 12vmin;
  }
  .header .wrapper .main_title {
    position: absolute;
    top: 15vmin;
    right: 17vmin;
  }
  .vision {
    height: 160vh;
  }
  .vision .ceo_message_contents {
    position: relative;
  }
  .vision .ceo_message_contents .ceo_img {
    width: 45%;
    position: absolute;
    left: 5vmin;
  }
  .vision .ceo_message_contents .ceo_message_text_content {
    position: absolute;
    left: 30vmin;
    top: 18vmin;
    width: 65vmin;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .vision .ceo_message_contents .ceo_message_text_content .text_contents_wrapper {
    padding: 3vmin 3vmin;
  }
  .company .wrapper {
    margin: 0 5%;
  }
  .company .wrapper .section_contents {
    margin: 0 5%;
  }
  .footer {
    text-align: center;
    padding: 0.5%;
    background-color: #525252;
  }
  .footer p {
    color: #fff;
    letter-spacing: 0.015rem;
  }
}

@media (max-width: 780px) {
  .header .wrapper .header_nav .header_right_color_780px .border div {
    background-color: #222222;
  }
  .header .wrapper .header_nav .header_right_color_780px p {
    color: #222222;
  }
  .header .wrapper .main_title {
    position: absolute;
    top: 15vmin;
    right: 17vmin;
  }
  .header .wrapper .main_title .title {
    font-size: 2.7rem;
    font-weight: bold;
    letter-spacing: 0.063;
  }
  .header .wrapper .main_title .sub_title {
    font-size: 1.3rem;
  }
  .vision {
    height: 200vh;
  }
}

@media (max-width: 480px) {
  .header .header_bg .bg_img {
    height: 70vh;
  }
  .header .header_bg .bg_color {
    height: 80vh;
  }
  .header .wrapper .header_nav .header_right {
    right: 10px;
  }
  .header .wrapper .header_nav .header_right p {
    font-size: 0.9rem;
  }
  .header .wrapper .header_nav .header_right .border div {
    width: 6vmin;
  }
  .header .wrapper .header_nav .header_right .border div:nth-of-type(1) {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  .header .wrapper .header_nav .header_right .border div:nth-of-type(3) {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
  .header .wrapper .header_nav .header_right_color_480px .border div {
    background-color: #222222;
  }
  .header .wrapper .header_nav .header_right_color_480px p {
    color: #222222;
  }
  .header .wrapper .header_nav .border_open .border div:nth-of-type(1) {
    -webkit-transform: rotate(-45deg) translate(-50%, 3px);
            transform: rotate(-45deg) translate(-50%, 3px);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header .wrapper .header_nav .border_open .border div:nth-of-type(2) {
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header .wrapper .header_nav .border_open .border div:nth-of-type(3) {
    -webkit-transform: rotate(45deg) translate(-50%, -3px);
            transform: rotate(45deg) translate(-50%, -3px);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header .wrapper .header_nav .menu_contents .bg2 {
    width: 60%;
  }
  .header .wrapper .header_nav .menu_contents .menu_content li a {
    font-size: 1rem;
  }
  .header .wrapper .header_nav .menu_contents .menu_content li a img {
    width: 10vmin;
    height: 10vmin;
  }
  .header .wrapper .main_title {
    position: absolute;
    top: 30vmin;
    right: 8vmin;
  }
  .header .wrapper .main_title .title {
    font-size: 2.7rem;
    font-weight: bold;
    letter-spacing: 0.063;
  }
  .header .wrapper .main_title .sub_title {
    font-size: 1.3rem;
  }
  .vision {
    height: 1990px;
  }
  .vision .wrapper {
    margin: 0 4vmin;
  }
  .vision .wrapper .section_title {
    font-size: 2rem;
  }
  .vision .wrapper .section_sub_title {
    font-size: 1rem;
  }
  .vision .wrapper .section_contents .text_content span {
    margin: 10vmin 0;
  }
  .vision .ceo_message_contents {
    position: relative;
  }
  .vision .ceo_message_contents .ceo_img {
    width: 90%;
    position: absolute;
    left: 0;
  }
  .vision .ceo_message_contents .ceo_message_text_content {
    position: absolute;
    left: 4vmin;
    top: 50vmin;
    width: 92vmin;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .vision .ceo_message_contents .ceo_message_text_content .text_contents_wrapper {
    padding: 15vmin 4vmin;
    margin: 0;
  }
  .vision .ceo_message_contents .ceo_message_text_content .text_contents_wrapper .content_title {
    font-size: 1.72rem;
    letter-spacing: 0;
  }
  .vision .ceo_message_contents .ceo_message_text_content .text_contents_wrapper .text_content span {
    margin: 10vmin 0;
  }
  .company .wrapper .section_title {
    font-size: 1.9rem;
    line-height: 2;
    letter-spacing: 0.068rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 0;
    border-bottom: 2px solid #efefef;
  }
  .company .wrapper .section_contents .text_decoration {
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.004rem;
    margin-top: 4vmin;
    border-bottom: 2px solid #efefef;
  }
  .company .wrapper .section_contents .text_decoration span {
    display: inline-block;
    width: 35vmin;
  }
  .company .wrapper .google_map {
    margin: 8vmin 0;
  }
}
/*# sourceMappingURL=responsive.css.map */