@media (max-width: 1030px) {
  .header .header_bg .bg_color {
    width: 80%;
  }
  .header .wrapper .header_nav .header_logo img {
    width: 7vmin;
    height: 7vmin;
  }
  .header .wrapper .header_nav .header_logo h1 {
    font-size: 1.5rem;
  }
  .header .wrapper .header_nav .header_logo h1::after {
    font-size: 1rem;
  }
  .header .wrapper .header_nav .header_right {
    right: 6vmin;
  }
  .header .wrapper .header_nav .header_right_color_1030px .border div {
    background-color: #222222;
  }
  .header .wrapper .header_nav .header_right_color_1030px p {
    color: #222222;
  }
  .header .wrapper .header_nav .menu_contents .menu_content {
    right: 12vmin;
  }
  .header .wrapper .main_title {
    position: absolute;
    top: 30vmin;
    right: 10vmin;
  }
  .header .wrapper .main_title .sub_title {
    font-size: 1.2rem;
    font-weight: normal;
    letter-spacing: 0.063;
  }
  .header .wrapper .main_title .main_title {
    font-size: 2rem;
  }
  .about .wrapper {
    width: auto;
    height: 50vh;
  }
  .about .wrapper .section_contents {
    position: absolute;
    top: 100px;
    left: 120px;
  }
  .section_container .bg {
    height: 120vmax;
  }
  .section_container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 5%;
  }
  .topics .wrapper {
    margin: 0 5%;
  }
  .topics .wrapper .section_title {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
  .topics .wrapper .section_contents {
    text-align: left;
  }
  .topics .wrapper .section_contents .section_content {
    margin: 0;
  }
  .contact .wrapper {
    margin: 0 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact .wrapper .section_contents {
    width: 80%;
  }
  .contact .wrapper .section_contents .section_title {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
  .contact .wrapper .section_contents .section_content {
    font-size: 1.4rem;
  }
  .contact .wrapper .section_contents .contact_button {
    margin-top: 5%;
  }
  .contact .wrapper .contact_img {
    width: 80%;
  }
}

@media (max-width: 780px) {
  .header .wrapper .header_nav .header_right_color_780px .border div {
    background-color: #222222;
  }
  .header .wrapper .header_nav .header_right_color_780px p {
    color: #222222;
  }
  .about .wrapper .section_contents {
    position: absolute;
    top: 70px;
    left: 100px;
    width: 70vmin;
  }
  .section_container .bg {
    height: 170vmin;
  }
}

@media (max-width: 480px) {
  .header .wrapper .header_nav .header_right {
    right: 10px;
  }
  .header .wrapper .header_nav .header_right p {
    font-size: 0.9rem;
  }
  .header .wrapper .header_nav .header_right .border div {
    width: 6vmin;
  }
  .header .wrapper .header_nav .header_right .border div:nth-of-type(1) {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  .header .wrapper .header_nav .header_right .border div:nth-of-type(3) {
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
  .header .wrapper .header_nav .header_right_color_480px .border div {
    background-color: #222222;
  }
  .header .wrapper .header_nav .header_right_color_480px p {
    color: #222222;
  }
  .header .wrapper .header_nav .border_open .border div:nth-of-type(1) {
    -webkit-transform: rotate(-45deg) translate(-50%, 3px);
            transform: rotate(-45deg) translate(-50%, 3px);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header .wrapper .header_nav .border_open .border div:nth-of-type(2) {
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header .wrapper .header_nav .border_open .border div:nth-of-type(3) {
    -webkit-transform: rotate(45deg) translate(-50%, -3px);
            transform: rotate(45deg) translate(-50%, -3px);
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .header .wrapper .header_nav .menu_contents .bg2 {
    width: 60%;
  }
  .header .wrapper .header_nav .menu_contents .menu_content li a {
    font-size: 1rem;
  }
  .header .wrapper .header_nav .menu_contents .menu_content li a img {
    width: 10vmin;
    height: 10vmin;
  }
  .header .wrapper .main_title {
    top: 33vmin;
    right: 8vmin;
  }
  .header .wrapper .main_title .sub_title {
    font-size: 1.1rem;
  }
  .header .wrapper .main_title .title {
    font-size: 3rem;
  }
  .about .wrapper {
    height: 80vh;
  }
  .about .wrapper .section_contents {
    top: 13vmin;
    left: 8vmin;
    width: 85%;
  }
  .about .wrapper .section_contents .section_title {
    font-size: 1.75rem;
    letter-spacing: 0.068rem;
  }
  .about .wrapper .section_contents .section_content {
    font-size: 0.9rem;
  }
  .about .wrapper .section_contents .button_decoration {
    width: 35vmin;
    margin: 6vmin 4vmin 6vmin;
  }
  .section_container .bg {
    height: 220vmin;
  }
  .section_container .wrapper .section_contents .section_content .button_decoration {
    width: 35vmin;
    margin: 6vmin 4vmin 6vmin;
  }
  .topics .wrapper .section_title {
    font-size: 1rem;
  }
  .topics .wrapper .section_contents .button_decoration {
    width: 35vmin;
    margin: 6vmin 4vmin 6vmin;
  }
  .contact .wrapper .section_contents {
    width: 100%;
  }
  .contact .wrapper .section_contents .section_content {
    font-size: 1.1rem;
  }
  .contact .wrapper .section_contents .button_decoration {
    width: 35vmin;
    margin: 6vmin 4vmin 6vmin;
  }
  .contact .wrapper .section_contents .contact_button {
    margin-left: 0;
  }
  .contact .wrapper .contact_img {
    width: 100%;
  }
}
/*# sourceMappingURL=responsive.css.map */